*{
    margin : 0.2rem;
}
body{
    background-color : #669bbc; 
}
.content{
  color : #fdf0d5;
}
.df{
    font-size: 1.5rem;
    font-weight: 800;
    color : #780000;
}
h3{
    color : #003049;
}
.sdf{
    font-weight: 900;
    color : #c1121f;
}
pre{
    font-weight: 700;
    color: rgb(57, 67, 7);
    /* color: #5e503f; */
}
